<!DOCTYPE html><!--  Last Published: Sun Jan 24 2021 21:13:58 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5ffa512bd25a5efa76cd6a83" data-wf-site="5f855b36d840bd0dab33dac0">
<head>
  <meta charset="utf-8">
  <title>Privacy</title>
  <meta content="Privacy" property="og:title">
  <meta content="Privacy" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/yer-tuition-services.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Nunito:regular,700,800","M PLUS Rounded 1c:regular,700,800"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div data-collapse="medium" data-animation="default" data-duration="200" role="banner" class="navbar w-nav">
    <div class="container w-container">
      <a href="#" class="brand w-nav-brand"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="/" class="nav-link w-nav-link">Home</a>
        <a href="/courses" class="nav-link w-nav-link">Courses</a>
        <a href="/pricing" class="nav-link w-nav-link">Pricing</a>
        <a href="/contact" class="nav-link w-nav-link">Contact</a>
        if locals.user 
          a.nav-link.login.w-nav-link(href="/logout") Logout
          a.nav-link.w-nav-link.admin-link(href="/student/dashboard") Dashboard
        else 
          a(href="/login").nav-link.login.w-nav-link Login
          a(href="/student/signup/1").nav-link.signup.w-nav-link Sign up
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="course-section-hero about-us">
    <div class="container w-container">
      <div class="_2-column">
        <h1 class="hero-heading-1">About us</h1>
      </div>
    </div>
  </div>
  <div class="section pricing">
    <div class="container w-container">
      <h1 class="heading-1">Privacy Policy</h1>
      <div class="content-block">
        <h3 class="policy-title">Payment</h3>
        <ul role="list" class="policy-list">
          <li class="policy-list-item">
            <div>Fees are to be paid in advance.</div>
          </li>
          <li class="policy-list-item">
            <div>Students will not be permitted to join class if any fees are outstanding.</div>
          </li>
        </ul>
      </div>
      <div class="content-block">
        <h3 class="policy-title">Cancellation Policy</h3>
        <ol role="list" class="policy-list">
          <li class="policy-list-item">
            <div>Missed sessions due to illness etc cannot be refunded as payment secures their spot.</div>
          </li>
          <li class="policy-list-item">
            <div>All absences must be reported no less than 24hrs before the booked session in order for homework to be arranged and sent out to students who have missed a session.</div>
          </li>
          <!-- <li class="policy-list-item">
            <div>If for any unforeseen circumstances you are unable to attend a session and cancel, you are entitled to a refund or an exchange (to be used within 3 months) if we are notified no less than 24hrs.</div>
          </li> -->
          <li class="policy-list-item">
            <div>If for any unforeseen circumstances a session is rescheduled, you will be contacted ASAP using the email address registered with us. You are entitled to a refund if you are no longer able to make the new date. However, if we have tried to contact you to inform you of the new date and time, and you have not replied, you are not entitled to a refund, but are entitled to exchange your place for the next available session within 3 months, where available.</div>
          </li>
        </ol>
      </div>
      <div class="content-block">
        <h3 class="policy-title">Full sessions</h3>
        <ul role="list" class="policy-list">
          <li class="policy-list-item">
            <div>If the class your child requires is full  then their name will be placed on the waiting list. Parents will be contacted  once a space becomes available.</div>
          </li>
        </ul>
      </div>
      <div class="content-block">
        <h3 class="policy-title">Punctuality</h3>
        <ol role="list" class="policy-list">
          <li class="policy-list-item">
            <div>Punctuality is key and students more than 15  mins late for a session will not be permitted to join the class.</div>
          </li>
          <li class="policy-list-item">
            <div>Online sessions  are the property of YER Tuition Services.</div>
          </li>
          <li class="policy-list-item">
            <div>The lessons and resources used in the sessions are not to be shared and/or used for reason outside of the sessions.</div>
          </li>
        </ol>
      </div>
      <div class="content-block">
        <h3 class="policy-title">E-Safety</h3>
        <p>Students who attend or participate in any sessions with YER Tuition services will not make, post, download, upload or pass on, material, remarks, proposals or comments that contain or relate to:</p>
        <ol role="list" class="policy-list">
          <li class="policy-list-item">
            <div>Indecent images of children</div>
          </li>
          <li class="policy-list-item">
            <div>Promoting discrimination of any kind </div>
          </li>
          <li class="policy-list-item">
            <div>Promoting racial or religious hatred</div>
          </li>
          <li class="policy-list-item">
            <div>Illegal acts or promoting illegal acts </div>
          </li>
          <li class="policy-list-item">
            <div>Any other information which may be offensive to peers or colleagues e.g. abusive images; promotion of violence; gambling; racist; sexist; homophobic or religious hatred material</div>
          </li>
        </ol>
      </div>
      <div class="content-block">
        <h3 class="policy-title">Data Protection</h3>
        <p>Data collected about parents and children is  collected, stored and processed in accordance with the Data Protection Act 1998 and the General Data Protection Regulation 2018. This policy applies to  all data, regardless of whether it is in paper or electronic format.</p>
        <ol role="list" class="policy-list"></ol>
      </div>
    </div>
  </div>
  <div class="footer-section">
    <div class="container w-container">
      <div class="w-layout-grid footer-grid">
        <div class="footer-block">
          <div>© Copyright 2021 </div>
        </div>
        <div class="footer-block">
          <a href="/courses" class="footer-link">Featured Courses</a>
        </div>
        <div class="footer-block">
          <a href="/tutor/signup/1" class="footer-link">Teach on Yer</a>
        </div>
        <div class="footer-block">
          <a href="/pricing" class="footer-link">Pricing</a>
        </div>
        <div class="footer-block">
          <a href="/contact" class="footer-link">Contact Us</a>
        </div>
        <div class="footer-block">
          <a href="/privacy" aria-current="page" class="footer-link w--current">Privacy Policy</a>
        </div>
        <div class="footer-block sm w-clearfix">
          <a href="https://instagram.com/yer_tuition_services?igshid=14lpujwphgwvy" target="_blank" class="footer-sm instagram w-inline-block"></a>
          <a href="https://web.facebook.com/YER-Tuition-Services-109029224322689/?_rdc=1&amp;_rdr" target="_blank" class="footer-sm facebook w-inline-block"></a>
        </div>
        <div id="w-node-981d19ddce22-77d7d604" class="footer-block sm w-clearfix">
          <a href="https://kbconsultancy.uk/" target="_blank" class="powered-by">Powered by KB Consultancy<br></a>
        </div>
        <div id="w-node-54e17cc4936e-77d7d604" class="footer-block sm w-clearfix">
          <a href="http://webcontra.co/" target="_blank" class="powered-by">Built with Webcontra</a>
        </div>

        <div class="footer-block">
          <a href="tel://02039165582" class="footer-link">02039165582</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5f855b36d840bd0dab33dac0" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/yer-tuition-services.js" type="text/javascript"></script>
  <script src="https://cdn.auth0.com/js/auth0/9.11/auth0.min.js"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script src="https://cdn.auth0.com/js/auth0-spa-js/1.2/auth0-spa-js.production.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script src="js/ui.js"></script>
  <script src="js/app.js"></script>
</body>
</html>